<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="usbe-packages" value="https://nuget.usoe-dcs.org/nuget/shared/" />
    <!--TODO: Remove this key once the application is updated to .NET 5-->
    <add key="dotnet-5" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
  </packageSources>
</configuration>
